#idDivMainTxChangePassword {
    margin: 6px;
}

#changePasswordForm label {
    display: inline-block;
    width: 180px;
    margin-top: 10px;
    margin-right:6px;
    text-align: right;
}
#changePasswordForm label:first-child {
    margin-top: 0 !important;
}
#changePasswordForm .error {
    border: 2px solid rgb(205, 48, 48);
    box-shadow: 0 2px 10px rgb(0,0,0);
    outline: none;
}
#changePasswordForm #passHelp {
    font-weight: bolder;
}