<div id="idMCSManagerMainLayout" class="fillParent mcsPadding mcsManagerMainLayout">
    <div id="idMCSManagerTopCell" class="fillParent mcsTopCell">
        <div id="idMCSManagerPopup" class="mcsManagerPopup">
            <div id="idDivAccordion" class="mcsManagerAccordionWrapper"></div>
            <div id="idDivLoadAllObjectsType" class="mcsManagerLoadInformation"></div>
        </div>
    </div>
    <div id="idMCSManagerResultCell" class="fillParent mcsPadding resultCell">
        <div id="idMCSManagerResultGrid" class="mcsResultGrid"></div>
        <div id="idMCSManagerResultDevs" class="mcsPadding mcsResultDevs"></div>
    </div>
    <div id="idMCSManagerBottomCell">
        <div id="idMCSManagerButtonBar"></div>
    </div>
</div>