.dhx_expand_icon {
	position: absolute;
	top: 0;
	right: 0;
	background-image: url(../imgs/colapce-expand-icon.gif);
	width: 18px;
	height: 18px;
	cursor: pointer;
	background-position: 0 18px;
	z-index: 16;
}

.dhx_agenda_area {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background-image: url(../imgs/databg.png);
}

.dhx_agenda_line {
	height: 21px;
	clear: both;
	overflow: hidden;
}

.dhx_agenda_line div {
	float: left;
	width: 188px;
	border-right: 1px dotted #8894A3;
	text-align: center;
	line-height: 21px;
	overflow: hidden;
}

.dhx_agenda_area .dhx_agenda_line div {
	border-right: 0 dotted #8894A3;
}

.dhx_v_border {
	position: absolute;
	left: 186px;
	top: 0;
	border-right: 1px dotted #8894A3;
	width: 1px;
	height: 100%;
}

.dhx_agenda_line .dhx_event_icon {
	width: 20px;
	border-width: 0;
	background: url(../imgs/icon.png) no-repeat;
	background-position: 5px 4px;
	cursor: pointer;
}

.dhx_agenda_line span {
	padding-left: 5px;
	line-height: 21px;
}

.dhx_year_body {
	border-left: 1px dotted #586A7E;
}

.dhx_year_week {
	height: 20px;
	position: relative;
}

.dhx_scale_bar_last {
	border-right: 1px dotted #586A7E;
}

.dhx_year_month {
	height: 18px;
	padding-top: 3px;
	border: 1px dotted #586A7E;
	text-align: center;
	vertical-align: middle;
}

.dhx_year_body .dhx_before .dhx_month_head,.dhx_year_body .dhx_after .dhx_month_head,.dhx_year_body .dhx_before .dhx_month_head a,.dhx_year_body .dhx_after .dhx_month_head a
	{
	color: #E2E3E6 !important;
}

.dhx_year_body .dhx_month_body {
	height: 0;
	overflow: hidden;
}

.dhx_month_head.dhx_year_event {
	background-color:#bce5fe;
}

.dhx_tooltip {
	border: 1px solid #BBB;
	background-image: url(../imgs/databg.png);
	position: absolute;
	z-index: 9998;
	width: 300px;
	height: auto;
	font-family: Tahoma;
	font-size: 8pt;
	overflow: hidden;
}

.dhx_tooltip_line {
	line-height: 20px;
	height: 20px;
	overflow: hidden;
}

.dhx_tooltip_line .dhx_event_icon {
	width: 20px;
	height: 20px;
	padding-right: 10px;
	float: left;
	border-width: 0;
	position: relative;
	background: url(../imgs/icon.png) no-repeat;
	background-position: 5px 4px;
	cursor: pointer;
}

.dhx_tooltip_date {
	float: left;
	width: auto;
	padding-left: 5px;
	text-align: center;
}

.dhx_text_disabled {
	color: #887A2E;
	font-family: Tahoma;
	font-size: 8pt;
}

.dhx_mini_calendar {
	-moz-box-shadow: 5px 5px 5px #888;
	-khtml-box-shadow: 5px 5px 5px #888;
}

.dhx_mini_calendar .dhx_month_head {
	cursor: pointer;
}

.dhx_mini_calendar .dhx_calendar_click {
	background-color: #C2D5FC;
}

.dhx_cal_navline div.dhx_minical_icon {
	width: 18px;
	height: 18px;
	left: 190px;
	top: 1px;
	cursor: pointer;
	background-image: url(../imgs/calendar.gif);
}

.dhx_matrix_cell,.dhx_matrix_scell {
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px dotted #8894A3;
	border-right: 1px dotted #8894A3;
}

.dhx_matrix_cell {
	background-color: white;
}

.dhx_matrix_cell div,.dhx_matrix_scell div {
	overflow: hidden;
	text-align: center;
	width: 100%;
	height: 100%;
}

.dhx_cal_lsection .dhx_readonly {
	font-size: 9pt;
	font-size: 8pt;
	padding: 2px;
	color: #887A2E;
}